@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif; /* Body text */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif; /* Elegant headings */
    color: #4E2A00; /* Dark chocolate for headings */
}

p {
    font-family: 'Lato', sans-serif; /* Body text */
}